@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

/*------ Reset styles ------*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
a {
  /* color: #405065; */
  text-decoration: none;
  outline: none;
}
input,
button,
textarea,
select {
  -webkit-appearance: none;
  outline: none;
}
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  border: none;
  outline: none;
}
/*------ End Reset styles ------*/
body {
  font: normal 1rem / 1.4 "Montserrat", sans-serif;
  /* font: normal 1rem / 1.4 "Poppins", sans-serif; */
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  color: #EBEBEB;
  /* background-color: #006666; */
  background-color: #2B3E50;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 20px 20px 60px;
}
.wrapper h1 {
  margin: 0 0 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
/* .pass-generate {
  padding: 40px;
} */
.pass-generate label {
  letter-spacing: 1px;
}
.pass-range-wrapper > label::after {
   display: block;
   content: '';
   clear: both;
}
.pass-range {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-top: 16px;
}
.pass-range span {
  position: absolute;
  top: 9px;
}
.pass-range span:first-child {
  left: 0;
}
.pass-range span:last-child {
  right: 0;
}
#pass-range-slider {
  margin: 10px 40px;
}

/* ASCII section */
.section-characters {
  padding-top: 20px;
}
.pass-characters {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.pass-characters-all {
  position: relative;
  flex: 0 0 160px;
  margin-bottom: 10px;
}
.pass-characters-all label {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  font-weight: 400;
  vertical-align: middle;
  border: 2px solid #4E5D6C;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #3e4a56;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
.pass-characters-all label:hover {
  background-color: #4E5D6C;
}
.pass-characters-all label.active {
  border-color: #DEDEDE;
  border-width: 2px;
  background-color: #4E5D6C;
}
.pass-characters-all input {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  margin: 0;
}
.pass-characters-all span {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #2B3E50;
  vertical-align: middle;
  border-radius: 0.25rem;
  background-color: #ffffff;
}
.pass-characters-all span::before {
  display: inline-block;
  width: 100%;
  content: "";
  text-align: center;
}
.pass-characters-all input[type="checkbox"]:checked + span::before {
  content: "\2714";
}
.character-element {
  display: inline-block;
  position: relative;
  height: 22px;
  margin-right: 15px;
  margin-bottom: 10px;
  border: 1px solid #a09c9c;
  border-radius: 0.25rem;
  font-size: 0; /*to remove margins between inline-block elements*/
  pointer-events: none;
}
.character-element.active {
  border-color: #ffffff;
  pointer-events: all;
}
.character-element label {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  color: #a09c9c;
  cursor: pointer;
  background-color: #4E5D6C;
  border-radius: 0.25rem;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
.character-element.active label {
  color: #DEDEDE;
}
.character-element input {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}
.character-element span {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 0.9rem;
  color: #2B3E50;
  background-color: #a09c9c;
}
.character-element.active span {
  background-color: #ffffff;
}
.character-element span::before {
  display: inline-block;
  width: 100%;
  content: "";
  text-align: center;
}
.character-element input[type="checkbox"]:checked + span::before {
  content: "\2714";
}
/* Generate button */
.btn-generate {
  display: inline-block;
  padding: 0.75rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.25rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  background-color: #f89406;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#faa123), color-stop(60%, #f89406), to(#e48806));
  background-image: linear-gradient(#faa123, #f89406 60%, #e48806);
  background-repeat: no-repeat;
  -webkit-filter: none;
          filter: none;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
.btn-generate:hover {
  background-color: #d37e05;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9e5f04), color-stop(40%, #ad6704), to(#b76d04));
  background-image: linear-gradient(#9e5f04, #ad6704 40%, #b76d04);
  background-repeat: no-repeat;
  -webkit-filter: none;
          filter: none;
}
/* Generated password */
.pass-result {
  display: inline-block;
  position: relative;
  height: 44px;
  margin-top: 20px;
  border: 2px solid #ffffff;
  border-radius: 0.25rem;
  font-size: 0; /*to remove margins between inline-block elements*/
  background-color: #4E5D6C;
}
.pass-result::after {
  display: block;
  position: absolute;
  width: 100%;
  content: '';
  left: 100%;
  top: 50%;
  margin-left: 10px;
  font-size: 0.9rem;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.pass-result.copied::after {
  content: 'Copied!';
  /* font-weight: 600; */
  color: #0BDE00;
}
.pass-result.error::after {
  content: 'Nothing to copy!';
  color: red;
}
.pass-result label {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: top;
  color: #EBEBEB;
  letter-spacing: normal;
  border-radius: 0.25rem;
}
.pass-result input {
  display: inline-block;
  height: 42px;
  width: 360px;
  padding: 0.375rem 0.2rem;
  font-size: 0.9rem;
  color: #2B3E50;
  text-align: center;
  vertical-align: top;
  border: 2px solid #ffffff;
  box-shadow: none;
  background-color: #ffffff;
}
.pass-result button {
  height: 42px;
  width: 42px;
  border: 0;
  cursor: pointer;
  background: #ffffff url('../img/copy-icon.png') center/cover no-repeat;
}

@media screen and (max-width: 767px) {
  .wrapper h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .pass-characters-all {
    flex: 0 0 110px;
  }
  .character-element {
    margin-right: 10px;
  }
  .pass-result {
    text-align: center;
  }
  .pass-result input {
    width: calc(100% - 42px);
    margin-top: 4px;
  }
  .pass-result button {
    margin-top: 4px;
  }
  .pass-result::after {
    width: auto;
    top: auto;
    bottom: -90px;
    left: 0;
  }
}
